# Modul 1 | Tipe Data di Python

Kembali ke [Struktur Data](strukdat2022.qmd)

Selamat dataing di praktikum pertama StrukDat. Pada pertemuan pertama akan di-review lagi beberapa materi AlProg dengan beberapa tambahan. Kita juga akan memperkenalkan kelas objek baru, yaitu `dict`.

## Review Tipe Data
Pada AlProg, ada beberapa jenis tipe data yang kalian pelajari, yaitu:

- Numerik: `int`, `float`, `complex`
- Teks: `string`
- List, Tuple

## Tipe Numerik

In [1]:
# Tipe Data Integer
a1 = 5
a2 = -180

# Mengecek tipe data menggunakan syntax type
print(type(a1))
print(type(a2))

<class 'int'>
<class 'int'>

In [2]:
# Tipe data float
b1 = 2.54
b2 = -3.141592
b3 = float('inf') # memasukkan infinity sebagai float

# Mengecek tipe data
print(type(b1))
print(type(b2))
print(type(b3))

<class 'float'>
<class 'float'>
<class 'float'>

In [3]:
# Operasi pada numerik
print(a1 + a2)
print(b1 * b2)
print(a1 ** b1)
print(abs(b2))

# Jika int bertemu float, maka tipe datanya akan menjadi float,
# walaupun float nya sebenarnya bulat
print(type(a1 ** b1))

-175
-7.979643680000001
59.618879710940476
3.141592
<class 'float'>

## Tipe Teks

In [4]:
# Tipe Data String
c1 = 'string biasa'
c2 = '''string
sampe
bawah'''

# Mengecek Tipe Data
print(type(c1))
print(type(c2))

<class 'str'>
<class 'str'>

Pada `string` dapat dilakukan penggabungan (`s + s`), penggandaan (`s * n`), *slicing* (`s[a:b]`), cari panjang (`len`), maksimum-minimum (max-min di sini diliat dari urutannya di ASCII), dll. *Method* bisa lebih banyak lagi

In [5]:
print('ayam' + 'geprek')
print(5 * 'es jeruk') # dia ga nambahin whitespace yaa

ayamgeprek
es jerukes jerukes jerukes jerukes jeruk

## List, Tuple, dan Set

Ketiganya dapat digunakan untuk menyimpan banyak item sekaligus. Karena list sudah dijelaskan, akan dijelaskan mengenai tuple dan set

In [6]:
# Membuat tuple
t1 = (2, 3)
t2 = (4, 'abc')
t3 = tuple('kacang')

print(t3)

('k', 'a', 'c', 'a', 'n', 'g')

Tuple dapat dianggap sebagai list yang isinya tidak bisa diganti, ditambah, ataupun dihapus. Namun masih berlaku operasi list yang tidak termasuk editing. Kelebihan tuple adalah bisa menjadi key untuk dict (akan dijelaskan kemudian)

In [7]:
# Membuat set
s1 = {'ayam', 'bebek', 'ayam', 'kuda'}
s2 = set(list('kacang'))

print(s1)
print(s2)

{'bebek', 'kuda', 'ayam'}
{'k', 'g', 'c', 'a', 'n'}

Set dianggap sebagai list yang tidak mempunyai urutan, sehingga tidak ada indexing dan slicing. Kelebihan utamanya adalah set hanya bisa mempunyai elemen yang unik (tidak bisa ada elemen yang sama di set). Hal ini berguna jika kalian mempunyai list yang kalian ingin hilangkan dobel-dobelnya (efek sampingnya, indeksnya jadi hilang sehingga bisa saja isinya tak beraturan).

Beberapa operator himpunan matematika juga ada di set, seperti subset, superset, disjoint, union, intersection, dll.

In [8]:
s3 = set('matematika')
s4 = set('statistika')
s5 = set('aktuaria')

print(s3)
print(s4)
print(s5)

{'t', 'm', 'e', 'i', 'k', 'a'}
{'t', 'i', 'k', 'a', 's'}
{'t', 'k', 'r', 'i', 'a', 'u'}

In [9]:
print(s3 & s4) # Irisan
print(s3 | s4) # Gabungan

{'t', 'a', 'i', 'k'}
{'t', 'm', 'e', 'k', 'i', 'a', 's'}

## List Comprehension

Terkadang kita membangun list menggunakan `for` loop, dan for loop tersebut bisa saja memakan beberapa *line* dari kode kalian. Dengan list comprehension, kita dapat membangun list tersebut hanya menggunakan 1 line dan bisa saja kode kita menjadi lebih enak untuk dibaca.

Sebagai contoh, kita ingin membuat list yang berisi nilai dari $2^x$:

In [10]:
expo = []
for i in range(6):
    expo.append(2**i)

print(expo)

[1, 2, 4, 8, 16, 32]

Jika menggunakan list comprehension, akan menjadi seperti ini:

In [11]:
expo = [2 ** i for i in range(6)]

print(expo)

[1, 2, 4, 8, 16, 32]

List comprehension dibuat dengan membuat list yang berisi suatu ekspresi lalu diikuti dengan `for`, dan jika diinginkan, bisa ditambah lagi for atau if. Hasilnya akan membuat seolah kita menjalankan `for` loop untuk membuat list tersebut, namun hanya menggunakan satu line.

Seperti disinggung sebelumnya, list comprehension dapat menggunakan lebih dari satu variabel pada ekspresinya. Hal ini ekivalen dengan jika kita menggunakan nested `for` loop untuk membuat list tersebut.

Sebagai contoh:

In [12]:
crossprod = [(x, y) for x in [1, 3, 5] for y in [2, 4, 6]]
print(crossprod)

[(1, 2), (1, 4), (1, 6), (3, 2), (3, 4), (3, 6), (5, 2), (5, 4), (5, 6)]

Potongan kode di atas ekivalen dengan:

In [13]:
crossprod = []
for x in [1, 3, 5]:
    for y in [2, 4, 6]:
        crossprod.append((x, y))

print(crossprod)

[(1, 2), (1, 4), (1, 6), (3, 2), (3, 4), (3, 6), (5, 2), (5, 4), (5, 6)]

Ingat bahwa urutan pembacaan setiap ekspresi `for` dan `if` pada list comprehension adalah dari kiri ke kanan.

List comprehension pun juga bisa di-nesting.

In [14]:
mat = [[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]]

mattr = [[ro[i] for ro in mat] for i in range(len(mat))]
print(mattr)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## Dictionary

Dictionary dapat dianggap sebagai set yang tiap elemennya memiliki 2 jenis nilai, yaitu key dan value. Strukturnya adalah `{key1:value1, key2:value2, ....}`.

In [15]:
# Membuat dictionary
d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'kopi': 6000, 'teh': 5000, 'susu': 7000}

Tidak seperti list yang diindeks menggunakan suatu range bilangan, dictionary diindeks meenggunakan key. Tipe data dari value boleh bebas, namun untuk key harus yang immutable (agak oversimplification tapi artinya tidak bisa diubah), sehingga tuple juga berguna untuk menjadi key dari dictionary

In [16]:
d3 = {(2, 3): 6, (3, 4): 12}
print(d3)

{(2, 3): 6, (3, 4): 12}

Untuk memanggil suatu value, panggil layaknya list, namun indeksnya menggunakan key

In [17]:
print(d3[(3, 4)])

12

Untuk meneambah suatu pasangan key:value baru, cukup menggunakan `d[key] = value`, dan akan masuk ke dict tersebut.

In [18]:
d3[(3, 5)] = 15
print(d3)

{(2, 3): 6, (3, 4): 12, (3, 5): 15}

Jika ingin menghapus elemen pada dict, dapat menggunakan `del`

In [19]:
del d3[(2, 3)]
print(d3)

{(3, 4): 12, (3, 5): 15}